@keyframes homeIn {
	0% {
		transform: translateY(-50vh) rotate(0deg) translateX(-10px);
		min-width: 250%;
		height: 200%;
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotate(45deg) translateX(-10px);
		min-width: 240%;
		height: 150%;
		opacity: 1;
	}
}

@keyframes pulse {
	0% { transform: scale(1) }
	50% { transform: scale(1.03) }
	100% { transform: scale(1) }
}

@keyframes aboutIn {
	0% { transform: translateY(100vh) }
	100% { transform: translateY(0) }
}

@keyframes aboutOutMobile {
	0% { transform: translateY(-100vh) }
	100% { transform: translateY(0) }
}

@keyframes aboutOutTablet {
	0% { transform: translateY(-100vh) }
	100% { transform: translateY(0) }
}

// CARD 0
@keyframes card0InMobile {
	0% { transform: translateY(-480px); opacity: 0; }
	20% { opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

@keyframes card0InTablet {
	0% { transform: translateY(-280px); opacity: 0; }
	20% { opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

@keyframes card0InDesktop {
	0% { transform: translateX(-100px) }
	100% { transform: translateX(0) }
}

// CARD 1
@keyframes card1InMobile {
	0% { transform: translateY(-360px); opacity: 0; }
	20% { opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

@keyframes card1InTablet {
	0% { transform: translateY(-160px); opacity: 0; }
	20% { opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

// CARD 2
@keyframes card2InMobile {
	0% { transform: translateY(-270px); opacity: 0; }
	20% { opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

@keyframes card2InTablet {
	0% { transform: translateY(-70px); opacity: 0; }
	20% { opacity: 0; }
	100% { transform: translatY(0); opacity: 1; }
}

@keyframes card2InDesktop {
	0% { transform: translateX(100px) }
	100% { transform: translateX(0) }
}

@keyframes gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@keyframes gradientMenuClosed {
    0%{background-position:50% 51%}
    100%{background-position:0% 100%}
}
